/*=============== CONTACT ===============*/
.contact__container {
  row-gap: 4rem;
}

.contact__group,
.contact__form {
  gap: 1rem;
}

.contact__form {
  position: relative;
}

.contact__input {
  padding: 1.5rem;
  background-color: var(--container-color);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.contact__input::placeholder {
  color: var(--text-color-light);
}

.contact__area {
  height: 10rem;
  resize: none;
}

.contact__button {
  margin-top: 1rem;
  cursor: pointer;
}

.contact__social {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  column-gap: 3rem;
}

.contact__social-link {
  color: var(--title-color);
  display: inline-flex;
  column-gap: 0.25rem;
  align-items: center;
  transition: color 0.4s;
}

.contact__social-link i {
  font-size: 1.5rem;
}

.contact__social-link span {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}

.contact__social-link:hover {
  color: var(--first-color-light);
}

.contact__message {
  position: absolute;
  left: 0;
  bottom: -2rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.alert {
  text-align: center;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
}

.alert-success {
  color: var(--first-color-light);
}
