/*=============== FOOTER ===============*/
.footer {
  background-color: var(--container-color);
}

.footer__container {
  padding-block: 3rem 2rem;
  row-gap: 3rem;
}

.footer__links {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}

.footer__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.footer__link:hover {
  color: var(--first-color-light);
}

.footer__copy {
  color: var(--title-color);
  font-size: var(--small-font-size);
  text-align: center;
}
