{% extends "global/base.html" %}

{% block title %}Projetos | Jhones{% endblock title %}

{% block content %}

      <section class="work section" id="work">
        <h2 class="section__title">PROJETO</h2>

        <div class="work__container container grid">
          
            <article class="work__card">
              <a class="work__link">

                <h2 class="work__title">{{ section_project.title }}</h2>
                <img src="{{ section_project.cover.url }}" alt="image" class="work__img">
                
              </a>
            </article>

            <article>
              <p>{{ section_project.text }}</p>   
            </article>
          
        </div>

      </section>

{% endblock content %}