<!doctype html>
<html lang="pt-br">
  <head>
    {% load static %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="{% static "global/image/favicon.png" %}" type="image/x-icon" />

    <!--=============== REMIXICONS ===============-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css"
    />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{% static 'global/css/.variables.css' %}" />
    <link rel="stylesheet" href="{% static 'global/css/.base.css' %}" />
    <link rel="stylesheet" href="{% static 'global/css/menu.css' %}" />
    <link rel="stylesheet" href="{% static 'global/css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'global/css/projects.css' %}" />
    <link rel="stylesheet" href="{% static 'global/css/my_info.css' %}" />
    <link rel="stylesheet" href="{% static 'global/css/services.css' %}" />
    <link rel="stylesheet" href="{% static 'global/css/contact.css' %}" />
    <link rel="stylesheet" href="{% static 'global/css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'global/css/scrool.css' %}" />
    <link rel="stylesheet" href="{% static 'global/css/breakpoints.css' %}" />

    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body>
    {% include 'global/partials/header.html' %}

    <main class="main">

      {% block content %}{% endblock content %}

    </main> 
    
    {% include 'global/partials/footer.html' %}
    {% include "global/partials/scripts.html" %}
  </body>
</html>
