      <!--==================== CONTACT ====================-->
      <section class="contact section" id="contact">
        <h2 class="section__title">CONTATO</h2>

        {% if messages %}
          <div class="messages">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}

        <div class="contact__container container grid">

          <form method="POST" action="" class="contact__form grid" id="contact-form">
            {% csrf_token %}

            <div class="contact__group grid">
              <input name="contact_name" type="text" name="" placeholder="Nome" required class="contact__input">
              <input name="email" type="email" name="" placeholder="Email" required class="contact__input">
            </div>

            <textarea name="text_message" placeholder="Menssagem" required class="contact__input contact__area"></textarea>

            <button type="submit" class="button contact__button">Enviar Menssagem</button>

            <p class="contact__message" id="contact-message"></p>
          </form>

          <div class="contact__social grid">

            {% for contact in contacts %}
              <a href="https://{{ contact.url }}" target="_blank" class="contact__social-link">
                <i class="{{ contact.icon }}"></i>
                <span>{{ contact.name }}</span>
              </a>
            {% endfor %}

          </div>
        </div>
      </section>