      <!--==================== HOME ====================-->
      {% load static %}
      <section class="home section" id="home">
        <div class="home__container container grid">
          <img
            src="{% static 'global/image/jhones.png' %}"
            alt="image"
            class="home__img"
          />

          <div class="home__data">
            <h1 class="home__name">Jhones<br />Soares</h1>
            <h3 class="home__profession">PythonDeveloper</h3>
          </div>

          <a href="#work" class="home__scroll">
            <div class="home__scroll-box">
              <i class="ri-arrow-down-line"></i>
            </div>

            <span class="home__scroll-text">Recent Works</span>
          </a>
        </div>
      </section>