      <!--==================== WORKS ====================-->
      <section class="work section" id="work">
        <h2 class="section__title">PROJETOS</h2>

        <div class="work__container container grid">

          {% for section_project in section_projects %}
            <article class="work__card">
              <a href="#" target="_blank" class="work__link">
                <h2 class="work__title">{{ section_project.title }}</h2>
                <p class="work__description">
                  {{ section_project.description }}
                </p>
                <img src="{{ section_project.cover.url }}" alt="image" class="work__img">
                <i class="ri-arrow-right-fill"></i>
              </a>
            </article>
          {% endfor %}

        </div>

      </section>