      <!--==================== SERVICES ====================-->
      <section class="services section" id="services">
        <h2 class="section__title">SERVICES</h2>

        <div class="services__container container grid">

          {% for service in services %}
            <article class="services__card">
              <h3 class="service__title">{{ service.title }}</h3>
              <p class="service__description">{{ service.description }}</p>
            </article>
          {% endfor %}

        </div>
      </section>